sshtml
  head
    //- This is a demo
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='profile', href='http://gmpg.org/xfn/11')
    title PROSKRIPTIVE | Healthcare Performance Improvement Solutions
    // All in One SEO Pack 2.3.13.2 by Michael Torbert of Semper Fi Web Design[178,250]
    meta(name='description', content='Proskriptive connects healthcare organizations with the right intelligence and data science to deliver superior care outcomes')
    link(rel='canonical', href='https://proskriptive.com/')
    // /all in one seo pack
    link(rel='dns-prefetch', href='//maxcdn.bootstrapcdn.com')
    link(rel='dns-prefetch', href='//npmcdn.com')
    link(rel='dns-prefetch', href='//unpkg.com')
    link(rel='dns-prefetch', href='//fonts.googleapis.com')
    link(rel='dns-prefetch', href='//s.w.org')
    script(type='text/javascript').
      window._wpemojiSettings = {"baseUrl":"https:\\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/proskriptive.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.6"}};
      !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    style(type='text/css').
      img.wp-smiley,
      img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
      }
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link#dashicons-css(rel='stylesheet', href='https://proskriptive.com/wp-includes/css/dashicons.min.css?ver=4.7.6', type='text/css', media='all')
    link#admin-bar-css(rel='stylesheet', href='https://proskriptive.com/wp-includes/css/admin-bar.min.css?ver=4.7.6', type='text/css', media='all')
    link#contact-form-7-css(rel='stylesheet', href='https://proskriptive.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.8', type='text/css', media='all')
    link#rs-plugin-settings-css(rel='stylesheet', href='https://proskriptive.com/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.4.3.1', type='text/css', media='all')
    style#rs-plugin-settings-inline-css(type='text/css').
      #rs-demo-id {}
    link#font-awesome-css-css(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?ver=4.7.6', type='text/css', media='all')
    link#slimmenu-style-css(rel='stylesheet', href='https://proskriptive.com/wp-content/themes/Pith%20Works%20Theme/include/slimmenu.min.css?ver=4.7.6', type='text/css', media='all')
    link#bootstrap-css-css(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css?ver=4.7.6', type='text/css', media='all')
    link#pith-style-css(rel='stylesheet', href='https://proskriptive.com/wp-content/themes/Pith%20Works%20Theme/style.css?ver=4.7.6', type='text/css', media='all')
    link#js_composer_front-css(rel='stylesheet', href='https://proskriptive.com/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.1.1', type='text/css', media='all')
    script(type='text/javascript', src='https://proskriptive.com/wp-includes/js/jquery/jquery.js?ver=1.12.4')
    script(type='text/javascript', src='https://proskriptive.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1')
    script(type='text/javascript', src='https://proskriptive.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.4.3.1')
    script(type='text/javascript', src='https://proskriptive.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.4.3.1')
    script(type='text/javascript', src='https://npmcdn.com/headroom.js@0.9.3/dist/headroom.min.js?ver=1')
    script(type='text/javascript', src='https://unpkg.com/scrollreveal@3.3.4/dist/scrollreveal.min.js?ver=1')
    link(rel='https://api.w.org/', href='https://proskriptive.com/wp-json/')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='https://proskriptive.com/xmlrpc.php?rsd')
    link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='https://proskriptive.com/wp-includes/wlwmanifest.xml')
    meta(name='generator', content='WordPress 4.7.6')
    link(rel='shortlink', href='https://proskriptive.com/')
    link(rel='alternate', type='application/json+oembed', href='https://proskriptive.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fproskriptive.com%2F')
    link(rel='alternate', type='text/xml+oembed', href='https://proskriptive.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fproskriptive.com%2F&format=xml')
    link(rel='stylesheet', href='main.css', type='text/css')  
    script(type='text/javascript', src='app.js') 
    meta(name='generator', content='Powered by Visual Composer - drag and drop page builder for WordPress.')
    //if lte IE 9
      link(rel='stylesheet', type='text/css', href='https://proskriptive.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css', media='screen')
    style(type='text/css', media='print').
      #wpadminbar { display:none; }
    style(type='text/css', media='screen').
      html { margin-top: 32px !important; }
      * html body { margin-top: 32px !important; }
      @media screen and ( max-width: 782px ) {
      html { margin-top: 46px !important; }
      * html body { margin-top: 46px !important; }
      }
    meta(name='generator', content='Powered by Slider Revolution 5.4.3.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.')
    link(rel='icon', href='https://proskriptive.com/wp-content/uploads/2017/06/cropped-Favicon-32x32.png', sizes='32x32')
    link(rel='icon', href='https://proskriptive.com/wp-content/uploads/2017/06/cropped-Favicon-192x192.png', sizes='192x192')
    link(rel='apple-touch-icon-precomposed', href='https://proskriptive.com/wp-content/uploads/2017/06/cropped-Favicon-180x180.png')
    meta(name='msapplication-TileImage', content='https://proskriptive.com/wp-content/uploads/2017/06/cropped-Favicon-270x270.png')
    // BEGIN GADWP v5.0.1 Universal Analytics - https://deconf.com/google-analytics-dashboard-wordpress/
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-55792807-1', 'auto');
      ga('send', 'pageview');
    // END GADWP Universal Analytics
    script(type='text/javascript').
      function setREVStartSize(e){
      try{ var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
      if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
      }catch(d){console.log("Failure at Presize of Slider:"+d)}
      };
    style(type='text/css', data-type='vc_custom-css').
      @media(min-width: 768px) {
      .blue-icon {
      position: absolute;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
      top: -56px;
      }
      .icon-text {
      margin-top: 80px;
      }
      .icon-container .vc_col-sm-1 {
      display: none;
      }
      .icon-container .vc_col-sm-2 {
      width: calc(100% / 5);
      }
      }
    style(type='text/css', data-type='vc_shortcodes-custom-css').
      .vc_custom_1507305879122{background-image: url(/wp-content/uploads/2017/06/home_slide.jpg?id=261) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1496433251573{padding-top: 60px !important;padding-bottom: 60px !important;background-color: #4e8db6 !important;}.vc_custom_1496861068149{padding-top: 60px !important;padding-bottom: 60px !important;}.vc_custom_1496436686739{padding-top: 60px !important;padding-bottom: 60px !important;background-color: #666666 !important;}.vc_custom_1496954438415{padding-top: 15px !important;padding-right: 15px !important;padding-bottom: 15px !important;padding-left: 15px !important;background-color: #004272 !important;}.vc_custom_1496954444573{padding-top: 15px !important;padding-right: 15px !important;padding-bottom: 15px !important;padding-left: 15px !important;background-color: #004272 !important;}.vc_custom_1496954452646{padding-top: 15px !important;padding-right: 15px !important;padding-bottom: 15px !important;padding-left: 15px !important;background-color: #004272 !important;}.vc_custom_1496954459398{padding-top: 15px !important;padding-right: 15px !important;padding-bottom: 15px !important;padding-left: 15px !important;background-color: #004272 !important;}.vc_custom_1496954468835{padding-top: 15px !important;padding-right: 15px !important;padding-bottom: 15px !important;padding-left: 15px !important;background-color: #004272 !important;}.vc_custom_1506386393537{margin-bottom: 20px !important;}.vc_custom_1496435267870{margin-top: 20px !important;}.vc_custom_1497474472277{margin-top: 20px !important;margin-bottom: 20px !important;}.vc_custom_1497644296845{margin-top: 30px !important;}
    noscript
      style(type='text/css').
        .wpb_animate_when_almost_visible { opacity: 1; }
    // Hotjar Tracking Code for proskriptive.com
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:559596,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    script(type='text/javascript').
      window.Jumplead||function(b,d){function k(){return["<",l,' onload="var d=',c,";d."+m+"('head')[0].",n,"(d.",p,"('script')).",e,"='",q,"'\\"></",l,">"].join("")}var c="document",f=b[c],l="body",p="createElement",m="getElementsByTagName",r=f[m]("head")[0],n="appendChild",a=f[p]("iframe"),e="src",g,q="//cdn.jumplead.com/tracking_code.js";b.jump=b.jump||function(){(b.jump.q=b.jump.q||[]).push(arguments)};d.events=b.jump;a.style.display="none";r[n](a);try{a.contentWindow[c].open()}catch(s){d.domain=f.domain,
      g="javascript:var d="+c+".open();d.domain='"+f.domain+"';",a[e]=g+"void(0);"}try{var h=a.contentWindow[c];h.write(k());h.close();h.params=d}catch(t){a[e]=g+'d.write("'+k().replace(/"/g,'\\"')+'");d.close();',a[e].contentDocument.params=d}}
      (window,{account:"JL-1446147612-4495",version:4});
  body.home.page-template-default.page.page-id-41.logged-in.admin-bar.no-customize-support.wpb-js-composer.vc_responsive(class='js-comp-ver-5.1.1')
    header
      .container
        .navbar-header
          a.site-logo(href='https://proskriptive.com')
            img(alt='BRAND', src='https://proskriptive.com/wp-content/themes/Pith%20Works%20Theme/img/logo.png')
        #top-nav.menu-header-menu-container
          ul#menu-header-menu.slimmenu
            li#menu-item-231.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-231
              a(href='https://proskriptive.com/our-approach/') Home
            li#menu-item-221.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-221
              a(href='https://proskriptive.com/products/') Solutions
            li#menu-item-191.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-191
              a(href='https://proskriptive.com/newsblog/') Resources
              ul.sub-menu
                li#menu-item-5051.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-5051
                  a(href='https://proskriptive.com/newsblog/') News/Blog
                li#menu-item-4301.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4301
                  a(href='https://proskriptive.com/newsblog/press-releases/') Press Releases              
            li#menu-item-201.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-201
              a(href='https://proskriptive.com/our-team/') Our Team
            li#menu-item-181.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-181
              a(href='https://proskriptive.com/contact-us/') Contact Us
            li#menu-item-181.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-181
              .pro-button.vc_btn3-inline.bro-button.cro-button
                a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey(href='http://proskriptive.com/contact-us/', title='') Request a Live Demo 
    #primary
      .container
        article#post-41.post-41.page.type-page.status-publish.hentry
          .entry-content
            .vc_row.wpb_row.vc_row-fluid
              .wpb_column.vc_column_container.vc_col-sm-12
                .vc_column-inner
                  .wpb_wrapper.home-bg(style='font-family: Raleway; height: 105%; margin-left: -20em; width: 1679px;')
                    .wpb_revslider_element.wpb_content_element.center-this
                      #rev_slider_2_1_wrapper.rev_slider_wrapper.fullwidthbanner-container(data-alias='homeslider', data-source='gallery', style='margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;') 
                      h1(style='font-size: 2.5em; color: #fff; margin: 6.5em 0em 1em 5em; line-height: 1em;') Performance Improvement 2.0
                        p(style='font-size: .5em; margin-top: 1em;') Your analytics solution just got a black belt
                        .vc_btn3-container.pro-button.vc_btn3-center.bro-button.vc_custom_1497644296845
                          a#demo-btn.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey(href='http://proskriptive.com/contact-us/', style='background: #004272;') LEARN MORE                        
   
            .vc_row-full-width.vc_clearfix
            .vc_row.wpb_row.vc_row-fluid.icon-container
            .vc_row.wpb_row.vc_row-fluid.overflow.vc_custom_1496433251573.vc_row-has-fill.outcomes(style='color: #075691; background-color: #fff !important;', data-vc-full-width='true', data-vc-full-width-init='false')
              .wpb_column.vc_column_container.vc_col-sm-12
                .vc_column-inner
                  .wpb_wrapper.center-this
                    h1.vc_custom_heading(style='width: 900px; margin-left: 3em; font-size: 2.5em; line-height: 1em;')
                      | Outcomes Speak Louder Than Dashboards
                      br
                      br
                    .vc_row.correct-row
                      .wpb_column.vc_column_container.vc_col-sm-6
                        .vc_column-inner
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper(style='margin: -2em 0em 0em 8.5em; width: 800px;')
                                ul
                                  p(style='margin-bottom: 0em;') It’s important to have dashboards and reports that identify at-risk patients 
                                  p But then what?
                                  p With Proskriptive’s Intelligence Suite you’ll enable care providers to take the right actions that yield measurable impact
            .vc_row-full-width.vc_clearfix
            .vc_row.wpb_row.vc_row-fluid.icon-container
            .vc_row.wpb_row.vc_row-fluid.overflow.vc_custom_1496433251573.vc_row-has-fill.rigor-bg(data-vc-full-width='true', data-vc-full-width-init='false')
              .wpb_column.vc_column_container.vc_col-sm-12
                .vc_column-inner
                  .wpb_wrapper(style='width: 460px; text-align: center;')
                    h1.vc_custom_heading.white-text(style='font-family: Raleway;')
                      | Need the rigor of statistical control charts to manage inpatient performance improvement?
                      br
                      br
                    .vc_row.wpb_row.vc_inner.vc_row-fluid
                      .wpb_column.vc_column_container.vc_col-sm-6
                        .vc_column-inner
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element.vc_custom_1506386393537.text-color-white
                              .wpb_wrapper
                                p(style='font-size: 1.2em;') Use Performance Intelligence to minimize variance in care processes and maximize quality scores.            
                  .wpb_wrapper(style='width: 460px; float: right; text-align: center; margin-top: -18.2em; margin-right: 20px;')
                    h1.vc_custom_heading.white-text(style='font-family: Raleway;')
                      | Need to manage risk-based contracts in a way that fits your care providers’ workflow?
                      br
                      br
                    .vc_row.wpb_row.vc_inner.vc_row-fluid
                      .wpb_column.vc_column_container.vc_col-sm-6
                        .vc_column-inner
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element.vc_custom_1506386393537.text-color-white
                              .wpb_wrapper
                                p(style='font-size: 1.2em;') Use Population Intelligence to manage patient interventions and provider performance.   
                  .wpb_wrapper(style='width: 200px; margin: auto; float: right')   
                    .vc_btn3-container.vc_btn3-inline
                      a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey.actual-button(href='https://demo.proskriptive.com/') Test Drive Now 
                  .wpb_wrapper(style='width: 200px; margin-left: -11em; float: left;')           
                    .vc_btn3-container.vc_btn3-inline
                      a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey.actual-button(style='margin-right: 2em !important;', href='http://proskriptive.com/contact-us/') Test Drive Now                      
            .vc_row-full-width.vc_clearfix
            .vc_row.wpb_row.vc_row-fluid.vc_custom_1496861068149.performance(data-vc-full-width='true', data-vc-full-width-init='false')
              .wpb_column.vc_column_container.vc_col-sm-12
                .vc_column-inner
                  .wpb_wrapper
                    h1.vc_custom_heading(style='color: #000; line-height: 30px;text-align: left;font-family:Raleway;font-weight:300;font-style:normal; padding-bottom: 1em;')
                      | How will Performance Intelligence work for you?
                    .vc_row.wpb_row.vc_inner.vc_row-fluid
                      .wpb_column.vc_column_container.vc_col-sm-5
                        .vc_column-inner
                          .wpb_wrapper
                            h3.vc_custom_heading(style='color: #000; line-height: 30px;text-align: left;font-family:Raleway;font-weight:300;font-style:normal; margin: 0em -3em 1em 0em;')
                              | As a Lean or Six Sigma practitioner, you need information that goes beyond basic reporting. 
                              br
                              br
                              | Performance Intelligence gives you actionable information the black belt way.
                    .vc_row.wpb_row.vc_inner.vc_row-fluid
                      .wpb_column.vc_column_container.vc_col-sm-6
                        .vc_column-inner
                          .wpb_wrapper
                            .wpb_single_image.wpb_content_element.vc_align_center.vc_custom_1496435267870(style='float: right; margin-top: -9em !important; margin-right: -3em;')
                              figure.wpb_wrapper.vc_figure
                                .vc_single_image-wrapper.vc_box_border_grey
                                  img.vc_single_image-img.attachment-full(width='500', src='performance-laptop-analytic.jpg', alt='', sizes='(max-width: 600px) 100vw, 650px', style='border-radius: 1em;')                     
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                ul(style='color: #000; line-height: 2em;')
                                  li Statistical control charts 
                                    br
                                  ul X bar-S, X bar-R, c-chart, u-chart, np-chart, p-chart
                                  li 100s of predefined quality measures & condition sets
                                  li Drilldowns into fallouts on any condition set or metric
                                  li Integrated machine learning to identify common factors of variation
                      .wpb_column.vc_column_container.vc_col-sm-1
                        .vc_column-inner
                          .wpb_wrapper
            .vc_row-full-width.vc_clearfix
            .vc_row.wpb_row.vc_row-fluid.vc_custom_1496861068149(data-vc-full-width='true', data-vc-full-width-init='false')
              .wpb_column.vc_column_container.vc_col-sm-12
                .vc_column-inner
                  .wpb_wrapper
                    h1.vc_custom_heading(style='color: #000; line-height:30px; text-align: right;font-family:Raleway;font-weight:300;font-style:normal')
                      | How will Population Intelligence work for you?
                    .vc_row.wpb_row.vc_inner.vc_row-fluid
                      .wpb_column.vc_column_container.vc_col-sm-6
                        .vc_column-inner
                          .wpb_wrapper
                            .wpb_single_image.wpb_content_element.vc_align_center.vc_custom_1496435267870(style='float: left; margin: 3em 0em 0em -4em;')
                              figure.wpb_wrapper.vc_figure
                                .vc_single_image-wrapper.vc_box_border_grey
                                  img.vc_single_image-img.attachment-full(width='600', height='300', src='population-laptop-analytic.jpg', alt='', sizes='(max-width: 650px) 100vw, 650px', style='border-radius: 1em;')
                      .wpb_column.vc_column_container.vc_col-sm-5(style='float: right;')
                        .vc_column-inner
                          .wpb_wrapper(style='margin-top: -28em;')
                            h3.vc_custom_heading(style='color: #000; line-height: 30px; text-align: left; font-family:Raleway;font-weight:300;font-style:normal; margin: 5em 0em 2em -3em;')
                              | Managing risk-based contracts demands the ability to distill data down to highly actionable care campaigns.
                              br
                              br
                              | Population Intelligence helps you produce the outcomes you always knew you could.
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                ul(style='color: #000; line-height: 2em; text-align: left;')
                                  li Understand what actions will have the highest impact for vulnerable populations
                                  li Quantify the value of each care opportunity so you can prioritize outreach
                                  li Align provider performance to best practices for consistency of care and cost containment
                                  li Benefit from integrated machine learning that delivers unparalleled precision in driving the highest ROI for each dollar of patient outreach
                      .wpb_column.vc_column_container.vc_col-sm-1
                        .vc_column-inner
                          .wpb_wrapper                          
            .vc_row-full-width.vc_clearfix
            .vc_row.wpb_row.vc_row-fluid.vc_custom_1496436686739.vc_row-has-fill.tablet-bg(data-vc-full-width='true', data-vc-full-width-init='false')
              .wpb_column.vc_column_container.vc_col-sm-12
                .vc_column-inner
                  .wpb_wrapper
                    h1.vc_custom_heading.vc_custom_1497474472277(style='color: #ffffff;line-height: 30px;text-align: center;') Don’t Just Find Savings Opportunities, <b><i>Realize</i></b> Them.
                    br
                    p.vc_custom_heading(style='color: #fff; text-align: center; font-size: 1.3em;')
                      | Whether you lead inpatient performance improvement programs or manage risk-based contracts, you’re financially accountable for outcomes.
                    p.vc_custom_heading(style='color: #fff; text-align: center; font-size: 1.3em;')
                      | Let Proskriptive help you navigate the way to stronger financials and healthier populations.                        
                    .vc_btn3-container.pro-button.vc_btn3-center.vc_custom_1497644296845.bro-button
                      a#demo-btn.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey(href='http://proskriptive.com/contact-us/', style='background: #004272') REQUEST A LIVE DEMO
            .vc_row-full-width.vc_clearfix
    footer
      .container-fluid   
        .company-logo
          a(href='https://proskriptive.com')
            img(src='logo.png' width='250px' height='54px')      
        .row
          .col-md-3
            h2
              | About Us
              br
            .section
              a.bc-link(href='https://proskriptive.com/our-approach/') Our Approach
              br
              a.bc-link(href='https://proskriptive.com/products/') Solutions
              br
              a.bc-link(href='https://proskriptive.com/our-team/') Our Team
              br
          .col-md-3
            h2
              | Media
              br
            .section
              a.bc-link(href='https://proskriptive.com/newsblog/') News
              br
              a.bc-link(href='https://proskriptive.com/newsblog/') Blog
              br
              a.bc-link(href='https://proskriptive.com/newsblog/press-releases/') Press Releases
              br
          .col-md-3.social
            a.fa.fa-twitter(href='https://twitter.com/proskriptive?lang=en')
            a.fa.fa-envelope(href='https://proskriptive.com/contact-us/', target='_top')
            a.fa.fa-linkedin(href='https://www.linkedin.com/company/3801214/') 
            a.fa.fa-youtube-play(href='https://www.youtube.com/user/proskriptive')     
            br          
          .col-md-3.contact
            ul Proskriptive INC.
            ul 6205 W Franklin Rd.
            ul Suite B
            ul Boise, Idaho 83709
            ul (208) 629 - 7992  
            ul 
              a(href="mailto:info@proskriptive.com?Subject=Hello%20again" target="_top") info@proskriptive.com         
        .row.sub-section                     
          .footer-bottom   
            a(href='https://proskriptive.com/terms-of-use/') Terms Of Use 
            | &nbsp   
            #copyright-year      
    script(type='text/javascript').
      var $zoho= $zoho || {salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");s.type="text/javascript";
      s.defer=true;s.src="https://salesiq.zoho.com/aidynco/float.ls?embedname=aidynco";
      t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
    script.
      $zoho.salesiq.internalready = function() { $zoho.salesiq.visitor.name("drobison");$zoho.salesiq.visitor.email("mrdavidrobison@gmail.com");$zoho.salesiq.floatbutton.visible("hide");}
    script(type='text/javascript').
      function revslider_showDoubleJqueryError(sliderID) {
      var errorMessage = "Revolution Slider Error: blah You have some jquery.js library include that comes after the revolution files js include.";
      errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
      errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
      errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
      errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
      jQuery(sliderID).show().html(errorMessage);
      }
    link#vc_google_fonts_raleway300regular700-css(rel='stylesheet', href='//fonts.googleapis.com/css?family=raleway%3A300%2Cregular%2C700&ver=4.7.6', type='text/css', media='all')
    link#vc_google_fonts_open_sans300300italicregularitalic600600italic700700italic800800italic-css(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&ver=4.7.6', type='text/css', media='all')
    link#vc_google_fonts_montserratregular700-css(rel='stylesheet', href='//fonts.googleapis.com/css?family=Montserrat%3Aregular%2C700&ver=4.7.6', type='text/css', media='all')
    script(type='text/javascript', src='https://proskriptive.com/wp-includes/js/admin-bar.min.js?ver=4.7.6')
    script(type='text/javascript').
      /* <![CDATA[ */
      var wpcf7 = {"apiSettings":{"root":"https:\\/\/proskriptive.com\/wp-json\/","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
      /* ]]> */
    script(type='text/javascript', src='https://proskriptive.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.8')
    script(type='text/javascript', src='https://proskriptive.com/wp-content/themes/Pith%20Works%20Theme/include/jquery.slimmenu.min.js?ver=4.7.6')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js?ver=4.7.6')
    script(type='text/javascript', src='https://npmcdn.com/headroom.js@0.9.3/dist/jQuery.headroom.min.js?ver=4.7.6')
    script(type='text/javascript', src='https://proskriptive.com/wp-content/themes/Pith%20Works%20Theme/include/scripts.js?ver=4.7.6')
    script(type='text/javascript', src='https://proskriptive.com/wp-includes/js/wp-embed.min.js?ver=4.7.6')
    script(type='text/javascript', src='https://proskriptive.com/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.1.1')
    script.
      jQuery(document).ready(function() {
      if (jQuery('#wp-admin-bar-revslider-default').length>0 && jQuery('.rev_slider_wrapper').length>0) {
      var aliases = new Array();
      jQuery('.rev_slider_wrapper').each(function() {
      aliases.push(jQuery(this).data('alias'));
      });
      if(aliases.length>0)
      jQuery('#wp-admin-bar-revslider-default li').each(function() {
      var li = jQuery(this),
      t = jQuery.trim(li.find('.ab-item .rs-label').data('alias')); //text()
      if (jQuery.inArray(t,aliases)!=-1) {
      } else {
      li.remove();
      }
      });
      } else {
      jQuery('#wp-admin-bar-revslider').remove();
      }
      });
    //if lte IE 8
      script(type='text/javascript').
        document.body.className = document.body.className.replace( /(^|\\s)(no-)?customize-support(?=\s|$)/, '' ) + ' no-customize-support';
    // [if gte IE 9] <!
    script(type='text/javascript').
      (function() {
      var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\\s+)(no-)?'+cs+'(\\s+|$)');
      request = true;
      b[c] = b[c].replace( rcs, ' ' );
      // The customizer requires postMessage and CORS (if the site is cross domain)
      b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
      }());
    // <![endif]